<div class="container" (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)"
    draggable="true">
    <div class="placeholder" [ngClass]="{'draggableOverMe': draggableOverMe}"></div>
    <div class="content">
        <kosmos-characteristic-header characteristicIndex="{{characteristicIndex}}" characteristicCaption="{{characteristicCaption}}"
            [isRemovedFromChart]="isRemovedFromChart" (removeCharacteristic)="onRemoveCharacteristic($event)"
            (changeCharacteristicName)="onChangeCharacteristicName($event)" (toggleChartEnabled)="onToggleChartEnabled($event)"
            [sheetDimensionType]="sheetDimensionType" [canBeChartItem]="canBeChartItem"></kosmos-characteristic-header>
        <div (drop)="onDropFilter($event)" (dragenter)="onDragEnterContent($event)" (dragleave)="onDragLeaveContent($event)"
            [ngClass]="{'showBorder': isOverContent}">
            <div class="filterBadges">
                <div *ngIf="isCustomFormula" class="kpmg-icon-calculator clickable" (click)="onEditFormula($event)"></div>
                <kosmos-filter-badge *ngFor="let filter of characteristic.characteristics; let i = index" caption="{{filter.name}}"
                    id="{{filter.id}}" (drop)="onDropFilterOnPosition(i)" characteristicIndex="{{characteristicIndex}}"
                    (removeFilter)="onRemoveFilter(i)">
                </kosmos-filter-badge>
            </div>
        </div>
    </div>
</div>