<div class="container-with-sidebar" id="analyses_list">
    <div class="_content">
        <div class="_options">
            <div class="main-options-container">
                <div class="first-line-info">
                    <div class="title-info">
                                        <span>
                                            &nbsp;
                                        </span>
                        <h3>
                            Data Explorer Analyses
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="_analyses-list"></div>
    </div>

    <div class="main-sidebar">
        <div class="main_sidebar">
            <div class="btn btn-default _add-analysis">Add Analysis</div>
        </div>
    </div>
</div>

{{> data-explorer/data-explorer }}
