.form-group {
    display: block;
    flex-direction: row;
    flex-wrap: nowrap;
    float: left;
    margin-left: 0;
    .form-item {
        flex: 0 1 auto;
        max-width: none;
        padding-right: 20px;
        width: 319px;
    }
}
