<div class="container-with-sidebar">
	<div class="_content">
		<div class="_options">
			<div class="main-options-container">
				<div class="first-line-info">
					<div class="title-info">
                                        <span>
                                            &nbsp;
                                        </span>
						<h3>
							Dropbox
						</h3>
					</div>
					<div class="_file_counter"></div>
				</div>
				<div class="_submenu">
					<div class="_file btn btn-default _upload-file" id="source_data_import_table_button">
						<span class="kpmg-icon kpmg-icon-add-large"></span>
						<span>Upload File</span>
					</div>
					<div class="_file btn btn-default" id="dropbox_mapping" value="data_structures">
						<span>P/C & Mapping</span>
					</div>
					<div class="_file btn btn-default" id="dropbox_show_data" value="data_points">
						<span>Show all data</span>
					</div>
				</div>
			</div>
		</div>

		<div class="container-with-sidebar" id="dropbox_data_files">
			<div class="dropbox-sidebar">
				<img src="./assets/images/sidebar.png">
			</div>
			<div id="dropbox_file_list" class="file-list">
				<input type="file" id="source_data_import_table"
				       accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">

				<div class="_file_navigation_container">
					<img src="./assets/images/share-solid-gray.png">
					<span class="_file_navigation_title">Index</span>
				</div>

				<span class="_file_column_title">Name</span>

				<div class="_file _template">
					<div class="_icon kpmg-icon kpmg-icon-file-excel"></div>
					<div class="_name"></div>
					<div class="_percentage"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="main-sidebar">
		<div class="main_sidebar">
		</div>
	</div>
</div>