<div class="container-with-sidebar">
    <div class="_content">
        <div class="_options">
            <div class="main-options-container">
                <div class="first-line-info">
                    <div class="title-info">
                                        <span>
                                            &nbsp;
                                        </span>
                        <h3>
                            Source Data
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div id="database_loader" class="container-fluid">
            <div class="row">
                <div class="col-xs-4">
                    <label for="current_database">Current Project:</label>
                </div>
                <div class="col-xs-8">
                    <select id="current_database" class="form-control">

                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                </div>
                <div class="col-xs-8">
                    <button class="btn btn-primary" id="add_new_database">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Add new project
                    </button>
                    <button class="btn btn-default" id="remove_current_database">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                        Remove current project
                    </button>
                    <button class="btn btn-default" id="reset_everything">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                        Reset everything
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="main-sidebar">
        <div class="main_sidebar">
        </div>
    </div>
</div>