// Color names (choose whichever more accurately describes colour):
// http://chir.ag/projects/name-that-color/
// http://www.color-blindness.com/color-name-hue/
// Keep in sync `COLOURS` constant in /src/app/app.const.ts
$colour--name-aluminium: #aaaeb8;
$colour--name-astral: #3975a5;
$colour--name-black: #303030;
$colour--name-blue: #1791da;
$colour--name-comet: #545b6f;
$colour--name-cornflower: #6195ed;
$colour--name-dark-blue: #2b354e;
$colour--name-dark-cerulean: #0c4b71;
$colour--name-dark-gray: #474747;
$colour--name-dimension-gray: #cdcdcd;
$colour--name-denim-blue: #1274ae;
$colour--name-denim: #157ebd;
$colour--name-dodger: #29a6f0;
$colour--name-prussian-blue: #00338d;
$colour--name-dove-gray: #6b6868;
$colour--name-dusty-gray: #969696;
$colour--name-flamingo: #e95252;
$colour--name-gray: #9b9b9b;
$colour--name-green: #39b660;
$colour--name-cadet-blue-gray: #a0a8be;
$colour--name-modal-content-border-gray: #ced2dd;
$colour--name-endeavour: #005eb8;
$colour--name-keppel: #34b298;
$colour--name-athens-gray: #e2e4eb;
$colour--name-golden-tainoi: #ffce54;
$colour--name-iris-blue: #f9fdff;
$colour--name-iron: #d7d7d7;
$colour--name-la-palma: #31a431;
$colour--name-light-gray: #e9ebed;
$colour--name-light-slate-grey: #7f8594;
$colour--name-mid-gray: #d4d4d4;
$colour--name-mischka: #cdd1db;
$colour--name-mischka-dropdown: #acb0b4;
$colour--name-moon-gray: #ddd;
$colour--name-near-white: #f4f4f4;
$colour--name-solitude-3: #dbdee6;
$colour--name-almost-white: #f2f2f2;
$colour--name-oxford-blue: #3b445b;
$colour--name-sandy-brown: #f0ad4e;
$colour--name-silver-sand: #babcbd;
$colour--name-dusty-gray: #969696;
$colour--name-seagull: #84caee;
$colour--name-shakespeare: #4ca1d4;
$colour--name-silver-sand: #babcbd;
$colour--name-silver: #acacac;
$colour--name-tory-blue: #106497;
$colour--name-very-light-gray: #c8c8c8;
$colour--name-whisp-pink: #fef5f5;
$colour--name-lighterpink: #ee6674;
$colour--name-pink: #ed5565;
$colour--name-white-smoke: #eee;
$colour--name-white: #fff;
$colour--name-snow: #fefefe;
$colour--name-mine-shaft: #383838;
$colour--name-darker-blue: #11151e;
$colour--name-hifi-gray: #3d414f;
$colour--name-yellow-sand: #ffe8a9;
$colour--name-light-red: #ee5766;
$colour--name-sidebar-gray: #282c37;
$colour--name-sidebar-gray-slightly-different: #282c38;
$colour--name-mandy: #ed5565;
$colour--name-rock-blue: #a0a8bd;
$colour--name-blue-haze: #afb5c8;
$colour--name-medium-turquoise: #48cfad;
$colour--name-water-leaf: #a3e7d6;
$colour--name-mountain-meadow: #11c295;
$colour--name-solitude: #dfe3e9;
$colour--name-solitude-light: #f0f1f5;
$colour--name-shuttle-gray: #63697a;
$colour--name-black-pearl-blue: #1c202b;
$colour--name-steel-grey: #3e424b;
$colour--name-bright-grey: #50545d;
$colour--name-shuttle-gray-2: #5c6370;
$colour--name-solitude-2: #f3f6f8;
$colour--name-light-purple: #6d2077;
$colour--name-catskill-white: #f5f7fa;
$colour--name-cadet-blue: #a1a9be;
$colour--name-black: #000;
$colour--name-light-black: #010101;
$colour--name-indigo: #4580c6;
$colour--name-gull-gray: #9ca4b8;
$colour--name-catalina-blue: #06368b;
$colour--name-mischka: #cfd3de;
$color--name-red-violet: #c4127e;
$colour--context-menu-border: rgba(156, 164, 184, 0.5);

// Shared
$colour--status-error: $colour--name-flamingo;
$colour--status-success: $colour--name-green;
$colour--status-warning: $colour--name-sandy-brown;
