$font-size--h1: 30px;
$font-size--h2: 23px;
$font-size--h3: 18px;
$font-size--h4: 16px;
$font-size--h5: 14px;
$font-size--small: 12px;
$font-size--x-small: 10px;
$font-size--body: 14px;

[font-size-h1] {
	font-size: 30px;
}

[font-size-h2] {
	font-size: 23px;
}

[font-size-h3] {
	font-size: 18px;
}

[font-size-h4] {
	font-size: 16px;
}

[font-size-h5] {
	font-size: 14px;
}

[font-size-small] {
	font-size: 12px;
}

[font-size-body] {
	font-size: 14px;
}
