$size--nav: 70px;
$size--sidebar: 300px;
$size--border-radius: 5px;
$size--project-header: 80px;
$size--scrollbar-thumb: 10px;
$size--main-nav--contracted: 70px;
$size--main-nav--expanded: $size--main-nav--contracted + 134px;

$tag-item-margin: 7px;
