.main-sidebar {
    font-size: 12px;
    width: 320px;
    background: #282c38;
    color: white;
    position: relative;
    padding: 15px 28px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;

    .btn-default {
        background-color: transparent;
        color: #ccc;
    }

    .btn-primary {
        background-color: $color-white;
        border-color: $color-white;
        color: $text-color;

        .fa {
            color: $text-color;
        }
    }

    input,
    ._input {
        color: black;
    }
}

#source_data .main-sidebar,
#output_table .main_sidebar {
    overflow-y: auto;
    overflow-x: hidden;
}