@import 'app-shared';

.tab-button {
    height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    z-index: 2;
    cursor: pointer;
    &:hover,
    &:focus,
    &:active {
        border: thin solid $colour--name-rock-blue;
        top: -2px;
    }
}

.tab-disabled {
    cursor: default;
    color: $colour--background--ghost;
}

.tab-button-small {
    width: 62px;
}

.tab-button-large {
    width: 120px;
}

.button-icon {
    margin-top: 8px;
    font-size: 1.5rem;
    padding-left: 2px;
    padding-right: 2px;
    color: $colour--text--secondary-text;
}
