@import 'app-shared';

.header {
    display: flex;
    padding: 5px;
    background-color: black;
}

.label {
    padding: 5px;
    align-self: flex-start;
}

.caption {
    width: 70%;
    align-self: center;
}

.header-buttons {
    padding: 5px;
    display: flex;
    align-self: flex-end;
}

.header-button {
    color: white !important;
    justify-content: flex-end;
    cursor: pointer;
    &:hover {
        color: $colour--background--ghost !important;
    }
}

.button-active {
    color: $colour--background--mid-grey !important;
    &:hover {
        color: $colour--background--ghost !important;
    }
}

.button-disabled {
    cursor: default !important;
    color: #333 !important;
    &:hover {
        color: #333 !important;
    }
}

input[type='text'] {
    padding: 5px;
    border: 2px solid #ccc;
    border: none;
    background-color: black;
    color: white;
    font: bold;
}

input[type='text']:focus {
    border: solid 1px #333;
}
