@import 'app-shared';
@import '../../../assets/styles/themes/material/colours.scss';

:host {
    background: #edf0f4;
    border-radius: 2px;
    border: 1px solid $colour--borders--mischka;
    display: block;
    list-style: none;
    margin-top: $spacing--5;
    padding: $spacing--5;
}

.form-group {
    .form-item {
        label {
            margin-top: 0;
        }
    }
}

.floating-form {
    .add-button {
        // experimental .. pls find better solution
        margin-top: 23px;
    }
}

ul {
    &.item-list {
        > li {
            margin: $spacing--5 0 0;

            &:first-child {
                margin-top: $spacing--4;
            }
        }
    }
}

.flex-item {
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap: wrap;

    > .name {
        flex: 0 0 75%;
        max-width: 75%;
        text-overflow: ellipsis;
        padding-right: $spacing--5;
    }

    > .abbreviation {
        flex: 0 0 25%;
        max-width: 25%;
    }
}
