@import "app-shared";

$project-card-date-created--font-size: 12px;
$progress--height: 7px;

:host {
	display: block;
	width: 100%;
	height: $progress--height;
	background-color: $colour--name-athens-gray;
}

.progress {
	height: 100%;
	background-color: $colour--name-golden-tainoi;
}

:host(.-is-completed) {
	.progress {
		background-color: $colour--name-keppel;
	}
}
